PORT=3000
HOST=0.0.0.0
MONGODB_URI=mongodb+srv://<usuario>:<senha>@<cluster>/<banco>?retryWrites=true&w=majority
JWT_SECRET=sua-chave-forte-aqui
NODE_ENV=production
FRONTEND_ORIGIN=https://controle-financeiro-ruby-mu.vercel.app
